<% include ./partials/header.ejs %>
<div class="w-full h-screen bg-[url('https://i.pinimg.com/originals/7e/5a/69/7e5a698a1914e40ef3dd83f4141ea4c6.jpg')] bg-center bg-cover  flex items-center justify-center">
  <div class="w-[25vw]  bg-white px-8 py-10 rounded-[30px]">
    <h1
      class="text-3xl tracking-tighter capitalize leading-none text-center font-semibold text-zinc-700"
    >
      Welcome to Pinterest.
    </h1>
    <form action="/login" method="post">
      <input
        class="border-2 block w-full mt-2 px-3 py-2 rounded-md"
        type="text"
        name="username"
        placeholder="Username"
      />
      <input
        class="border-2 block w-full mt-2 px-3 py-2 rounded-md"
        type="password"
        name="password"
        placeholder="Password"
      />
     
      <a href="#" class="mt-2 font-semibold inline-block text-zinc-500 text-center">Forgot Password ?</a>
      <input
      class="border-2 block w-full mt-2 px-3 py-2 bg-red-600 rounded-full text-white"
      type="submit"
      value="Log In"
    />
    <p class="text-xs font-semibold text-zinc-700 mt-5 text-center w-3/4 mx-auto">By continuing, you agree to Pinterest's Terms of Service; Opens a new tab and acknowledge that you've read our Privacy Policy Notice at collection</p>
    </form>
    <a href="/register" class="inline-block mt-7 text-zinc-700 text-sm font-semibold text-center w-full">Don't Have an Account? Register</a>
  </div>
</div>
<% include ./partials/footer.ejs %>
